<% if @books.any? %>
  <% @books.each do |book| %>
  <h2> <%= book.title %> </h2>
  <h3> <%= book.author %> </h3>
  <% end %>
<% else %>
  No books have been added
<% end %>

<a href='#'>Add your own book to lend!</a>
